nav ul {
    list-style: none;
}

.navbar-one ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-two ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px dotted  blue;
}

.navbar-three div {
    display: flex;
    flex-direction: row;
    width: 190px;
    justify-content: space-between;
    border: 3px dotted  purple;
}

.navbar-three ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 3px dotted  red;
}
.navbar-four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.site-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;
}

.site-links > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.brand {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.site-links > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: flex-start;
    min-width: 0;
    align-items: center;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 200px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navbar-five {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-five div {
    display: flex;
    flex-direction: row;
    width: 190px;
    justify-content: space-between;
    border: 3px dotted  purple;
}

.navbar-five ul {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
    border: 3px dotted  red;
}
