/*////////////////////////////////////////////////////////////////////////
Table of Contents:
   1. Global Styles
   2. Typografie
   3. Areas
       3.1 Area 1 Navigatie
       3.2 Area 2 Header
       3.3 Area 3 Main
       3.4 Area 4 Footer
       3.5 Area 5
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
   1. Global Styles
////////////////////////*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    flex-basis: 900px;
    flex-grow: 4;
    border: 3px dotted green;
}


/*////////////////////////
   2. Typography
////////////////////////*/
h1 {
    border: 3px dotted red;
}


/*////////////////////////
   3. Areas
////////////////////////*/


/*///////////// 3.1 Navigatie /////////////*/
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 300px;
    min-width: 250px;
    flex-grow: 1;
    gap:24px;
    border: 3px dotted blue;
    height: 100vh;
}

nav ul {
    list-style: none;
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-height: 0;
    overflow: auto;
    gap: 30px;
}

.menu-links > li {
    display: block;
    border: 1px solid green; /* tijdelijk */
}


.nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
}

.login-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    flex-shrink: 0;
}

.login-buttons button {
    width: 100%;
}


/*///////////// 3.2 Header /////////////*/


/*///////////// 3.3 Main /////////////*/


/*///////////// 3.4 Footer /////////////*/


/*///////////// 3.5 Area 5 /////////////*/
