/*////////////////////////////////////////////////////////////////////////
Table of Contents:
   1. Global Styles
   2. Typografie
   3. Areas
       3.1 Area 1 Navigatie
       3.2 Area 2 Header
       3.3 Area 3 Main
       3.4 Area 4 Footer
       3.5 Area 5
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
   1. Global Styles
////////////////////////*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}


/*////////////////////////
   2. Typography
////////////////////////*/
h1 {
    border: 3px dotted red;
}


/*////////////////////////
   3. Areas
////////////////////////*/


/*///////////// 3.1 Navigatie /////////////*/
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-basis: 300px;
    min-width: 250px;
    flex-grow: 1;
    gap: 24px;
    border: 3px dotted blue;
    height: 100vh;
}

nav ul {
    list-style: none;
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-height: 0;
    overflow: auto;
    gap: 30px;
}

.menu-links > li {
    width: 100%;
}

.menu-links > li a {
        display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    border: 1px solid green;
}

.menu-links > li img {
    width: 18px;
    height: 18px;
    flex-basis: 18px;
    flex-shrink: 0;
    border: 3px dotted purple;
}

.menu-links > li a {
    border: 3px dotted deeppink;
}

.nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
}

.login-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    flex-shrink: 0;
}

.login-buttons button {
    width: 100%;
}

.active {
    background-color: hsl(0, 2%, 88%);
    border-radius: 5px;
}

/*///////////// 3.2 Header /////////////*/
header {
    min-height: 280px;
    background-image: url("../assets/placeholder-image.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*///////////// 3.3 Main /////////////*/

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    flex-basis: 900px;
    flex-grow: 4;
    border: 3px dotted green;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    min-height: 555px;
    border: 3px dotted green;
}

main article {
    max-width: 260px;
}

.cards-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-icon {
    width: 18px;
    height: 18px;
    flex-basis: 18px;
}

.price-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*///////////// 3.4 Footer /////////////*/
footer {
    background-color: #383838;
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*///////////// 3.5 Area 5 /////////////*/
